@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
html,
body,
#__next {
  height: 100%;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden !important;
 
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.customDisablebutton:not([disabled]) {
  @apply cursor-pointer;
}
.customDisablebutton[disabled] {
  @apply cursor-not-allowed !bg-gray-400 !text-white;
}

.swiper-button-next,
.swiper-button-prev {
  @apply !text-primary;
}
.swiper-button-disabled {
  pointer-events: all !important;
}

.main-banner-area-four .over-shape img {
  position: absolute;
}
.main-banner-area-four .over-shape img:first-child {
  top: 300px;
  left: 10%;
  animation: animationFramesOne 25s linear infinite;
}
.main-banner-area-four .over-shape img:nth-child(2) {
  top: 200px;
  left: 80%;
  animation: animationFramesOne 40s linear infinite;
}
.main-banner-area-four .over-shape img:nth-child(3) {
  top: 150px;
  left: 800px;
  animation: animationFramesOne 20s linear infinite;
}
.main-banner-area-four .over-shape img:nth-child(4) {
  bottom: 200px;
  left: 800px;
  animation: animationFramesOne 30s linear infinite;
}
.main-banner-area-four .over-shape img:nth-child(5) {
  top: 200px;
  left: 50%;
  animation: animationFramesOne 10s linear infinite;
}

@keyframes animationFramesOne {
  0% {
    transform: translate(0) rotate(0deg);
  }
  20% {
    transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    transform: translate(-40px, 72px) rotate(144deg);
  }
  to {
    transform: translate(0) rotate(0deg);
  }
}

.dropdown {
  top: 120%;
  z-index: 9999;
  left: 0%;
  width: 200px;
  border: 1px solid rgba(230, 230, 230, 1);

  display: flex;

  position: absolute;
  animation: MoveUpDown 0.3s linear;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgba(248, 248, 248, 1);
}
.dropdown::after {
  left: 23px;
  width: 0px;
  border: 7px solid transparent;
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 7px;
  border-bottom-color: transparent;
  bottom: 100%;
  filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));
  height: 0px;
  content: "";
  position: absolute;
  border-top: none;
  border-bottom-color: rgba(248, 248, 248, 1);
}
@keyframes MoveUpDown {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
  }
}
.default-btn {
  position: relative;
  overflow: hidden;
}
.default-btn:before {
  left: -40px;
}
.default-btn:after,
.default-btn:before {
  content: "";
  position: absolute;
  top: -20px;
  width: 10px;
  height: 100px;
  background-color: #fff;
  opacity: 0.5;
  transition: all 0.6s ease;
  transform: rotate(45deg);
}
.default-btn:after {
  right: -40px;
}
.default-btn:hover:before {
  left: 120%;
}
.default-btn:hover:after {
  right: 120%;
}
